<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
      
     
    <h:head>
    	<f:metadata>
    		<f:viewParam name="cedula" value="#{contactosBean.cedula}"></f:viewParam>
    	</f:metadata>
    </h:head>
    
    

	<ui:composition template="template/template.xhtml">
	
	
	<ui:define name="title">
        #{contactosBean.titulo}
    </ui:define>
	
	<ui:define name="content">
	
	
	
		<h:form class="form-horizontal form-material">
                        <div class="form-group">
                            <label class="col-md-12">Cédula</label>
                            <div class="col-md-12">
                            	<h:inputText value="#{contactosBean.newPersona.cedula}" 
                            		type="text" a:placeholder="Johnathan Doe"
                                    class="form-control form-control-line" />
                            
						</div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Nombre</label>
                            <div class="col-md-12">
                            	<h:inputText value="#{contactosBean.newPersona.nombre}" a:placeholder="johnathan@admin.com"
                                    class="form-control form-control-line" />
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Edad</label>
                            <div class="col-md-12">
                            	<h:inputText id="txtedad" value="#{contactosBean.newPersona.edad}" class="form-control form-control-line" />
								<h:message for="txtedad" />
                            
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Telefonos</label>
                            <div class="col-md-12">
                                <h:commandButton action="#{contactosBean.addTelefono()}" value="Add" class="btn btn-success">
			<f:ajax render="tblTelefonos" execute="tblTelefonos" />
		</h:commandButton>
	 </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-12">
                            	<h:commandButton action="#{contactosBean.guardarDatos()}" class="btn btn-success"
		value="Guardar" />
                               
                            </div>
                        </div>
                    </h:form>
		
	</ui:define>
	
	
	<ui:define name="footer">
		http://ups.edu.ec
	</ui:define>
	
	<ui:define name="script">
		
	
	</ui:define>
	
	</ui:composition>
</html>