<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>


</h:head>

<h:body>

	<h1>Ingreso personas</h1>

	<h:form>
Cédula: <h:inputText value="#{contactosBean.newPersona.cedula}" />
		<br /> 
Nombre: <h:inputText value="#{contactosBean.newPersona.nombre}" />
		<br /> 

Edad: <h:inputText id="txtedad" value="#{contactosBean.newPersona.edad}" />
		<h:message for="txtedad" />
		<br />


		<h:commandButton action="#{contactosBean.addTelefono()}" value="Add">
			<f:ajax render="tblTelefonos" execute="tblTelefonos" />
		</h:commandButton>


		<h:dataTable id="tblTelefonos"
			value="#{contactosBean.newPersona.telefonos}" var="telefono">
			<h:column>
				<f:facet name="header">Numero</f:facet>
				<h:inputText value="#{telefono.numero}" />
			</h:column>
			<h:column>
				<f:facet name="header">Tipo</f:facet>
				<h:inputText value="#{telefono.tipo}" />
			</h:column>

		</h:dataTable>


		<h:commandButton action="#{contactosBean.guardarDatos()}"
			value="Guardar" />

	</h:form>

</h:body>



</html>
