<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="template/template.xhtml">

	<ui:define name="title">
        Listado de personas
    </ui:define>

	<ui:define name="content">

		<h:form>
			<h:commandButton action="crear" value="Crear registro" />
		
		
			<h:dataTable value="#{contactosBean.listado}" var="person" class="table">
				<h:column>
					<f:facet name="header">Cédula</f:facet>
					#{person.cedula}
				</h:column>
						<h:column>
							<f:facet name="header">Nombre</f:facet>
					#{person.nombre}
				</h:column>
				<h:column>
							<f:facet name="header">Edad</f:facet>
					#{person.edad}
				</h:column>
				<h:column>
							<f:facet name="header">Acciones</f:facet>
					<h:commandButton action="#{contactosBean.editar(person.cedula)}" value="Editar" />
				</h:column>
			</h:dataTable>
			
			
		</h:form>
		
		
		
		

	</ui:define>
	
	<ui:define name="footer">
		http://ups.edu.ec
	</ui:define>
	
</ui:composition>

</html>
