<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="template/template.xhtml">

	<ui:define name="title">
        Listado de personas
    </ui:define>

	<ui:define name="content">

		<h:form id="formListado">
			<h:commandButton action="crear" value="Crear registro" />
		
		
			<h:dataTable value="#{contactosBean.listado}" var="person" class="table" id="table">
				<h:column>
					<f:facet name="header">Cédula</f:facet>
					#{person.cedula}
				</h:column>
						<h:column>
							<f:facet name="header">Nombre</f:facet>
					#{person.nombre}
				</h:column>
				<h:column>
							<f:facet name="header">Edad</f:facet>
					#{person.edad}
				</h:column>
				<h:column>
							<f:facet name="header">Acciones</f:facet>
					<h:commandButton action="#{contactosBean.editarAjax(person.cedula)}" value="Editar" >
						<f:ajax render="grupEditar"/>
					</h:commandButton>
					
					<h:commandLink action="#{contactosBean.editarAjax(person.cedula)}" value="Editar" >
						<f:ajax render="grupEditar"/>
					</h:commandLink>
					
				</h:column>
			</h:dataTable>
			
			
		</h:form>

		<h:panelGroup id="grupEditar">
		<h:form class="form-horizontal form-material" id="formEditar" rendered="#{contactosBean.editable}">
			<div class="form-group">
				<label class="col-md-12">Cédula</label>
				<div class="col-md-12">
					<h:inputText value="#{contactosBean.newPersona.cedula}" type="text"
						a:placeholder="Johnathan Doe"
						class="form-control form-control-line" />

				</div>
			</div>
			<div class="form-group">
				<label for="example-email" class="col-md-12">Nombre</label>
				<div class="col-md-12">
					<h:inputText value="#{contactosBean.newPersona.nombre}"
						a:placeholder="johnathan@admin.com"
						class="form-control form-control-line" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12">Edad</label>
				<div class="col-md-12">
					<h:inputText id="txtedad" value="#{contactosBean.newPersona.edad}"
						class="form-control form-control-line" />
					<h:message for="txtedad" />

				</div>
			</div>
			<div class="form-group">
				<label class="col-md-12">Telefonos</label>
				<div class="col-md-12">
					<h:commandButton action="#{contactosBean.addTelefono()}"
						value="Add" class="btn btn-success">
						<f:ajax render="tblTelefonos" execute="tblTelefonos" />
					</h:commandButton>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<h:commandButton action="#{contactosBean.guardarDatosAjax()}"
						class="btn btn-success" value="Guardar" >
						<f:ajax render="formListado:table grupEditar" execute="@form"/>
					</h:commandButton>

				</div>
			</div>
		</h:form>
		</h:panelGroup>


	</ui:define>
	
	<ui:define name="footer">
		http://ups.edu.ec
	</ui:define>
	
</ui:composition>

</html>
