<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>

</h:head> 
<h:body> 

	<h:form>
		<h:panelGroup id="todo">	
	
		Aux: <h:inputText id="auxField" value="#{contador.aux}" >
				<f:ajax render="@all" execute="auxField" listener="#{contador.doRecalcular()}"  />
			</h:inputText>
		<br/>
		Cont: <h:inputText id="contadorField" value="#{contador.contador}" /><br/>
		
		</h:panelGroup>
		
		<h:outputText value="#{contador.aux}" id="texto" />
		
		<h:commandButton value="Recalcular" action="#{contador.doRecalcular}">
			<f:ajax render="todo"  />
		</h:commandButton>
		<br/>
		<h:commandButton value="Recalcular AUX" action="#{contador.doRecalcular}">
			
		</h:commandButton>
	</h:form>

</h:body> 
</html>
